Repository mena-devs/tilde, pull requests merged in 2020-08, with the labels that each got.

#61 UI and UX improvements
  app/controllers/invitations_controller.rb
  app/controllers/users/omniauth_callbacks_controller.rb
  app/helpers/invitations_helper.rb
  app/models/invitation.rb
  app/views/invitations/_invitation.html.erb
  app/views/invitations/index.html.erb
  app/views/invitations/show.html.erb
  app/views/shared/_navbar.html.erb
Labels: Bug, Enhancement

#62 Job workflow improvements
  app/assets/stylesheets/custom.scss
  app/controllers/api/v1/jobs_controller.rb
  app/controllers/jobs_controller.rb
  app/helpers/application_helper.rb
  app/helpers/invitations_helper.rb
  app/mailers/job_mailer.rb
  app/models/job.rb
  app/models/notifier.rb
  app/views/invitations/index.html.erb
  app/views/jobs/_admin_job.html.erb
  app/views/jobs/_admin_jobs_table.html.erb
  app/views/jobs/_form.html.erb
  app/views/jobs/index.html.erb
  app/views/jobs/new.html.erb
  app/views/jobs/show.html.erb
  db/migrate/20200802080521_add_equity_to_job_details.rb
  db/migrate/20200802204137_cross_check_invitations_with_slack_and_update.rb
  db/schema.rb
  spec/requests/jobs_spec.rb
  spec/requests/users_spec.rb
Labels: Enhancement, Jobs

#59 Fix version and user response object definition
  spec/swagger_helper.rb
  swagger/v1/open_api.yaml
Labels: API, Bug, Enhancement
